{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}
{% block main %}
    <form action="/buy" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            title="Numbers only" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}